.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  .image-container {
    height: 20rem;
  }

  .forecast-container {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }

  img {
    height: 100%;
  }

  h2 {
  }
}
